.task_list {
  list-style: none;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.task_list::-webkit-scrollbar {
  width: 5px;
}
.task_list::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 5px;
}
.task_list::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
}

.no_task {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
